<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.IBaseDao" >
	<!-- 按id查找一个 -->
	<select id="queryOne" parameterType="map" resultType="hashmap">
		select * from ${name} where id=#{id}
	</select>
	
	<select id="queryByPage" resultType="hashmap">
		select * from ${name} where  ${where} limit #{page},#{size} 
	</select>


	<select id="queryCount" resultType="int">
		select count(1) from ${name} where ${where}
	</select>

	<!-- 查询所有 -->
	<select id="queryAll" resultType="hashmap">
		select * from ${name}
	</select>
	
	<insert id="add" >
		insert into ${name} values
		<foreach collection="params"  item="param" open="(" separator="," close=")" >
			#{param}
		</foreach>
	</insert>
	
	<update id="update">
		update ${name} 
		<set>
			<foreach collection="params"  item="param" >
				${param}, 
			</foreach>
		</set>
		where id=#{id}
	</update>
	
	
</mapper>